* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
    color: white;
}

body {
    background: #0B0618;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #241735;
    border: 1px solid  rgb(106, 93, 110);
    border-radius: 15px;
    padding: 20px 40px;
    background:rgb(106, 93, 110);
    box-shadow: 5px 5px 20px rgb(126, 112, 112);
}

#header {
    font-size: 40px;
    margin-bottom: 30px;
}

#count {
    font-size: 70px;
    margin-bottom: 30px;
    background: rgb(59, 53, 53);
    padding: 20px 60px;
    border-radius: 10px;
}

.btn {
    background: rgb(17, 42, 225);
    padding: 15px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}